body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
     
    
}
.title-container {
    border-left: 4px solid black ;
    padding-left: 10px;
}
.orange-color{
    color: coral;
}
section{
    display: flex;
}
.prothom{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.prothom img{
    width: 100%;
    margin-top: -50px;
    
}
.link-button{
    text-decoration: none;
    background: orange ;
    padding:10px 40px;
    border-radius: 5px; 
    font-weight: 500;
    transition: 1s;
}
.link-button:hover {
    background: yellow;
}
.link-button:active {
    background-color: coral;
}
p{  
    color: coral;
    font-weight: 50;
}
.section2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.vision-container {
    background: pink;
    
}
.mission-container {
    background: plum;
    
}
.goal-container {
    background: purple;
    
}
.card-container > :not(:first-child) {
    margin-left: 2vw;
}
.card-container > * {
    width: 20vw;
    padding: 20px;
    border-radius: 20px;
    
}
.card-container img {
    width: 200px;
    
}
.card-container p {
    color: black;
}
.card-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section3-container {
    padding-left: 15%;
    display: flex;
    flex-direction: row;

}
.ditio img{
    width: 400px;
    padding-top: 20px;
}
.segment3-1-1 {
   padding-left: 5%;  
   padding-right: 15%;
}

